.logo.header {
    background:none repeat scroll 0 0 #e0d9b7;
}
.card-required-field label:after, #termDetailLink:after {
    content:'*';
}
.card-required-field[for="j_idt48-sectionOrder-j_idt271-paymentInfoFieldOrder-cardHolderName"]:after {
    content:'';
}
#header {
    background:none repeat scroll 0 0 #9a8348;
    border-bottom:2px solid #fff;
    color:#fff;
}
#header .ui-btn-up-c {
    background-image:linear-gradient(#e0d9b7, #9a8348);
}
a#termDetailLink {
    color:#563b1a;
}
a#termDetailLink:hover, a#termDetailLink:active {
    text-decoration:underline;
}
.ui-content {
    background-color:#f6f4e3;
}
.ui-focus, .ui-btn:focus {
    box-shadow:0 0 3px #563b1a inset, 0 0 9px #563b1a;
}
.header>img {
    margin-top:21px;
}
#content_wrapper {
    padding-top:25px!important;
}
.ui-menu-button-container .ui-btn .ui-icon {
    height:100%;
}
.ui-btn-up-b {
    background:linear-gradient(#e0d9b7, #9a8348) repeat scroll 0 0 #9a8348;
}
.dwv.ui-header.ui-bar-b {
    background:none repeat scroll 0 0 #9a8348;
}
.ui-msm-profileloginpagebean.ui-page.ui-body-c.ui-page-active.portrait {
    background-color:#f6f4e3;
}
.ui-bar-b {
    background:linear-gradient(#e0d9b7, #9a8348) repeat scroll 0 0 #9a8348!important;
}
.ui-menu-button-container .ui-btn .ui-btn-inner {
    line-height:16px;
}
.ui-menu-button-container .ui-btn .ui-btn-inner .ui-btn-text {
    background-image:linear-gradient(#e0d9b7, #9a8348);
    border-radius:4px;
    color:#fff;
    padding-top:11px;
    height:24%;
    line-height:1em;
    vertical-align:middle;
}
#footer .ui-btn-up-c {
    background-image:linear-gradient(#e0d9b7, #9a8348);
}
.ui-dialog-contain {
    background:none repeat scroll 0 0 #9a8348;
}
#footer .ui-btn.ui-btn-hover-c {
    border-color:#563b1a!important;
    background:#563b1a!important;
}
.ui-btn-active {
    background:linear-gradient(#e0d9b7, #9a8348) repeat scroll 0 0 #9a8348;
}
.ui-content .ui-btn-up-c {
    background:#9a8348!important;
    color:#fff;
}
.ui-room-type-description, .ui-room-type-name {
    color:#563b1a;
}
li.ui-li.ui-li-static.ui-btn-up-c {
    color:#563b1a;
    background:#fefdf0!important;
}
.ui-listview li.ui-li.ui-li-static.ui-btn-up-c.ui-corner-top.ui-corner-bottom.ui-li-last {
    background:#fff!important;
    color:#563b1a;
}
.ui-content .ui-btn.ui-btn-hover-c, #headerRightBtn.ui-btn-hover-c, #headerLeftBtn.ui-btn-hover-c {
    background:#563b1a!important;
    color:#fff;
}
.ui-menu-button-container .ui-menu-button .ui-btn-up-c {
    background:transparent!important;
}
.ui-menu-button-container .ui-menu-button .ui-btn.ui-btn-hover-c {
    background:#eae6cc!important;
}
.ui-body-c .ui-link {
    color:#9a8348;
}
.ui-body-c .ui-link:hover {
    color:#563b1a!important;
}
.ui-btn-hover-b {
    background:linear-gradient(#e0d9b7, #9a8348) repeat scroll 0 0 #9a8348;
}
.ui-btn-up-b {
    background:linear-gradient(#e0d9b7, #9a8348) repeat scroll 0 0 #9a8348;
}
.ui-tabbedBar {
    border-color:#9a8348;
}
.ui-focus, .ui-btn:focus {
    box-shadow:0 0 3px #9a8348 inset, 0 0 9px #9a8348!important;
}
.ui-input-text.ui-focus, .ui-input-search.ui-focus {
    box-shadow:0 0 12px #9a8348!important;
}
.ui-btn-inner {
    overflow:visible;
}
.ui-menu-button-container .ui-btn {
    width:93px!important;
}
.ui-expander-indicator-more a, .ui-expander-indicator-less a {
    color:#9a8348;
}
.ui-btn-container {
    padding-top:10px;
}
.ui-menu-button-container .ui-menu-button {
    padding:0!important;
}
p#vipCode {
    display:none;
}
p#passportNo {
    display:none;
}
p#countryOfIssue {
    display:none;
}
p#placeOfIssue {
    display:none;
}
p#effectiveDate {
    display:none;
}
.ui-guest-rooms-list li .ui-room-type-description {
    display:block;
}
