#no-results-messaging .message-dotted {
    display:block!important;
}
.booking-path label.required:after {
    content:'*'
}
#packageResults.room-extras {
    display:none!important;
}
#vipCode, #gender, #dateofbirth, #nationality, #passport-info-fields {
	display: none !important;
}
