.custom-reservation-rate-details #rate-details .group {
    margin-top:10px;
}
#no-results-messaging .message-dotted {
    display:block!important;
}
.booking-path label.required:after {
    content:'*'
}
#packageResults.room-extras {
    display:none!important;
}
#vipCode, #gender, #dateofbirth, #nationality, #passport-info-fields, #add_options_desc, #add_options {
    display:none!important;
}
a.nivo-control {
    width:13%!important;
}
.checkbox a:hover, .checkbox a:active, .checkbox a {
    text-decoration:underline;
}
.custom-confirmation-details, .confirmation-page .custom-confirmation-details {
    min-height:288px!important;
}
#rate-details h2 {
    font-size: 14px!important;
    font-weight: bold;
    border: 0!important;
    padding-left: 10px!important;
    font-family: Arial, Helvetica, sans-serif;
}
#rate-details p {
    padding-left:10px!important;
}
