section.room-types, .rate-code .ui-view-room-details {
    display:none;
}
.room-thumb .quickview span {
    min-width:65px;
}
.room-short-desc.room-long-desc .read-more, .room-short-desc.room-long-desc .read-less {
    display:inline!important;
}
.read-more a, .read-less a {
    display:block;
}
.read-more .viewmore, .read-less .viewless {
    width:100px;
}
.show-hide-rooms {
    width:125px!important;
    float:right;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    margin-bottom:10px;
    margin-right:10px;
}
.custom-body .show-hide-rooms .view_rooms, .custom-body .show-hide-rooms .hide_rooms {
    text-align:center;
}
div#quick_view {
    overflow:hidden;
}
.room-details-pop-left #room-detail-policy-amenities, .room-details-pop-right .viewdetails, .pop-room-rate .room-rate {
    display:none;
}
.room-details-pop-right {
    margin-left:20px!important;
}
a.ui-dialog-titlebar-close.ui-corner-all {
    width:80px!important;
}
.custom-reservation-rate-details #rate-details .group {
    margin-top:10px;
}
#no-results-messaging .message-dotted {
    display:block!important;
}
.booking-path label.required:after {
    content:'*'
}
#packageResults.room-extras {
    display:none!important;
}
#vipCode, #gender, #dateofbirth, #nationality, #passport-info-fields, #add_options_desc, #add_options {
    display:none!important;
}
a.nivo-control {
    width:13%!important;
}
.checkbox a:hover, .checkbox a:active, .checkbox a {
    text-decoration:underline;
}
.custom-reservation-rate-details, .custom-confirmation-details {
    min-height:289px!important;
    height:289px!important;
}
#rate-details h2 {
    font-size:14px!important;
    font-weight:bold;
    border:0!important;
    padding-left:10px!important;
    font-family:Arial, Helvetica, sans-serif;
}
#rate-details p {
    padding-left:10px!important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background-color:#e3dabb!important;
}
